body {
    background-color: black;
    font: italic 20px Georgia;
  }
  .indexPics {
    border-radius: 125px;
    border: 3px solid #025a66;
    margin: 5px;
  }
  .welcomeFFF {
    color: lightgreen;
    font-size: 150%;
    text-align: center;
  }
  header {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  nav {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
  }
  main {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  .MainText {
    color: white;
  }
  footer {
    background-color: pink;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    background-color: aqua;
    padding: 1%;
    gap: 2% 3%;
    height:500px;
  }
  .container div {
    background-color: green;
    border: 1px solid black;
    padding: 4px;
    font-size: 30px;
    text-align: center;
  }
  .item1 {
    grid-row: 1 / span 2;
    align-content: center;
  }
  .item2 {
    align-content:center;
  }
  .item4 {
    align-content: center;
  }
  .item6 {
    align-content: center;
  }
  .item9 {
    align-content: center;
  }
  .item10 {
    grid-column: 3 / span 2
  }
  .item11 {
    align-content: center;
  }
  .item13 {
    align-content: center;
  }
  .flexContainer {
    display: flex;
    background-color: dodgerblue;
    padding: 10px;
  }
  .flexContainer div {
    padding: 10px;
    background-color: lawngreen;
  }
  .subjectsContainer {
    display: flex;
  }
  .contan2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    gap: 10px 10px;
    padding: 2px;
  }

    .contan2 div {
    background-color: green;
    border: 1px solid black;
    padding: 4px;
    font-size: 30px;
    text-align: center;
  }

@media screen and (max-width: 300px){
  body {
    background-color: red;
  }
  .contan2 {
    grid-template-columns: auto;
    height: 500px;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  body {
    background-color: orange;
  }
  .contan2 {
    grid-template-columns: auto;
    height: 600px;
  }

}
@media screen and (max-width: 500px) and (min-width: 400px) {
  body {
    background-color: yellow;
  }
  .contan2 {
    grid-template-columns: auto auto;
    height: 300px
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  body {
    background-color: green;
  }
  .contan2 {
    grid-template-columns: auto auto;
    height: 300px;
  }
}
@media screen and (max-width: 700px) and (min-width: 600px) {
  body {
    background-color: blue;
  }
  .contan2 {
    grid-template-columns: auto auto auto;
    height: 200px;
  }
}
@media screen and (max-width: 800px) and (min-width: 700px) {
  body {
    background-color: indigo;
  }
  .contan2 {
    grid-template-columns: auto auto auto;
    height: 200px;
  }
}
@media screen and (max-width: 900px) and (min-width: 800px) {
  body {
    background-color: violet;
  }
  .contan2 {
    grid-template-columns: auto auto auto;
    height: 200px;
  }
}
@media screen and (min-width: 900px){
  .contan2 {
    grid-template-columns: auto auto auto auto auto auto;
    height: 100px;
  }
}

