body {
    background-color: lightgreen;
    font: italic 20px Georgia;
  img {
    border-radius: 125px;
    border: 3px solid #025a66;
    margin: 5px;
  }
  ol {
    list-style-type: lower-roman;
  }
  .LinkAboutMe {
    font: italic 20px arial;
  }
  .LinkSubjects {
    font: bold 20px Georgia;
  }
  .welcomeFFF {
    color: lightgreen;
  }
  header {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  nav {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  main {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  footer {
    background-color: purple;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 80px 80px 80px;
    background-color: aqua;
    padding: 10px;
    gap: 10px 15px;
    border-radius: 50%;
  }
  .container div {
    background-color: green;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
  }


  }