body {
    background-color: lightgreen;
    font: italic 20px Georgia;
  }
  .indexPics {
    border-radius: 125px;
    border: 3px solid #025a66;
    margin: 5px;
  }
  ol {
    list-style-type: lower-roman;
  }
  .LinkAboutMe {
    font: italic 20px arial;
  }
  .LinkSubjects {
    font: bold 20px Georgia;
  }
  .welcomeFFF {
    color: lightgreen;
    font-size: 150%;
    text-align: center;
  }
  header {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  nav {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  main {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  .MainText {
    color: white;
  }
  footer {
    background-color: pink;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    background-color: aqua;
    padding: 1%;
    gap: 2% 3%;
    height:500px;
  }
  .container div {
    background-color: green;
    border: 1px solid black;
    padding: 4px;
    font-size: 30px;
    text-align: center;
  }
  .item1 {
    grid-row: 1 / span 2;
  }
  .item3 {
    size: 50px;
  }
  .item10 {
    grid-column: 3 / span 2
  }
